body{
    font-family: 'poppins','sans-serif';
} 

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-display: poppins;
}

nav{
    height: 80px;
    background: #2c3e50;
    /* background-image: url(image/bg-image.jpg); */
}

nav img{
    width: 150px;
    position: absolute;
    left: 12px;
}

nav ul{
    float: right;
    margin-right: 25px;    
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
    

}

nav ul li a{
    position: relative;
    color: white;
    font-size: 18px;
    padding: 5px 0;    
    text-transform: uppercase;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: rgb(251, 255, 7);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
    
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
    
}

label #btn,label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:1118px) {
    nav img{
        left: 8%;
    }
}

@media (max-width:944px) {
    nav img{
        left: 6%;
        width: 130px;
    }
    nav ul li a{
        font-size: 12px;
    }
}
/* home section  */
.home-section{   
    color: white;
    font-size: 20px;
    height: 500px;
    background-image: url('image/bg-image.jpg');
}

/* hindi section */
.hindi-section {
    color: white;
    font-size: 20px;
    height: 420px;
    background-color: rgb(4, 26, 37);
}

.title{
    margin: auto;
    padding: 10px;
    background-color: red;
    /* text-align: center; */
}
.title:hover{
    font-size: 30px;
    color: red;
    cursor: pointer;
    border: none;
    background-color: white;    
}
.image-section{
    height: 300px;
    margin: auto;
    padding: 20px 0;
}
.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 100%;
    padding: 5px;
    /* -radius: 25px; */
  }
  .column img{
    border-radius: 10px;
    height: 300px;
  }

  .column img:hover{
    height: 310px;
    border: 2px solid white;
  }

/* English section */
.english-section {
    color: white;
    font-size: 20px;
    height: 420px;
    background-image: url(image/bg-image.jpg);
    /* background-color: rgb(4, 26, 37); */
}
/* tamil section */
.tamil-section {
    color: white;
    font-size: 20px;
    height: 420px;
    /* background-image: url(image/bg-image.jpg); */
    background-color: rgb(4, 26, 37);
}
/* telgu section */
.telgu-section {
    color: white;
    font-size: 20px;
    height: 420px;
    background-image: url(image/bg-image.jpg);
    /* background-color: rgb(4, 26, 37); */
}
/* bhojpuri section */
.bhojpuri-section {
    color: white;
    font-size: 20px;
    height: 420px;
    /* background-image: url(image/bg-image.jpg); */
    background-color: rgb(4, 26, 37);
}
/* haryanvi section */
.haryanvi-section {
    color: white;
    font-size: 20px;
    height: 420px;
    background-image: url(image/bg-image.jpg);
    /* background-color: rgb(4, 26, 37); */
}
/* bengali section */
.bengali-section {
    color: white;
    font-size: 20px;
    height: 420px;
    /* background-image: url(image/bg-image.jpg); */
    background-color: rgb(4, 26, 37);
}

footer{
    height: 200px;
    width: 100%;
    background-color: black;
    color: white;    
    text-align: center;
}

footer img{
    display: absolute;
    /* margin-top: 150px; */
    margin-left: 50px;       
    padding: 10px;    
}
footer .row .column p{
    font-size: 14px;
    color: greenyellow;
}


/* silder show section */

* {box-sizing: border-box;}
/* body {font-family: Verdana, sans-serif;} */
.mySlides {display: none;}
img {vertical-align: left;}

/* Slideshow container */
.slideshow-container {
  max-width: 1150px;
  position: relative;
  padding-top: 50px;
  margin: auto;
}

.slideshow-container .mySlides img{
    max-height: 400px;
    border-radius: 5px;
    border: 2px solid yellow;
    background-blend-mode: color-burn;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: -10px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* for mobiles */
@media (max-width:860px) {
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 90vh;
        background-color: #34495e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size:20px;
    }
    #check:checked ~ ul{
        left: 0%;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    } 
    
    #check:checked ~ .slideshow-container {
        display: none;
    }
    .slideshow-container {        
        padding-top: 30px;
        margin: 5px;
    }
    .dot {
        height: 5px;
        width: 5px;
        margin-top: -50px ;
    }
}

